.App {
  text-align: center;
}

.button-inc {
  width: fit-content;
  padding: 6px 12px;
  height: auto;
}

.flex {
  display: flex;
  gap: 20px;
}

.post-list {
  display: block;
}

.post-item {
  padding: 5px;
  border: 1px solid gray;
  display: flex;
  gap: 10px;
  margin-bottom: 15px;
}